body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
  margin: 0;
}

#add-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #5527ff;
  color: #fff;
  padding: 12px 22px;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(85, 39, 255, 0.3);
  transition: all 0.3s ease;
  z-index: 1000;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  margin: 20px auto;
  background: #fff;
}

table td,
table th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
